main {
  color: white;
}

header,nav {
    font-size: 3rem; 
    text-align: center;
    color: white;
    padding: 2rem 2rem;
}


nav {
  background-color: rgb(71, 207, 100);
  font-size: 1.5rem; 
  text-align: center;
  color: white;
}

section {
  margin: 0;
  height: 8em;
  font-size: 6rem; 
  text-align: center;
  color: white;
}


#home {
  margin: 0;
  height: 8em;
  font-size: 6rem; 
  text-align: center;
  color: white;   
}

#lacteos {
  margin: 0;
  height: 8em;
  font-size: 6rem; 
  text-align: center;
  color: white;
}

#contact {
  margin: 0;
  height: 8em;
  font-size: 6rem; 
  text-align: center;
  color: white;
}

footer {
  background-color: rgb(19, 18, 18);
  color: rgb(201, 200, 200);
  font-size: medium;
}

